<div id="<%= dom_id(discussion) %>" class="mb-2">
  <h2><%= link_to discussion.name, discussion %></h2>
  pinned: <%= discussion.pinned %> | closed: <%= discussion.closed %><br />
  posted in: <%= discussion.category_name %> | Posts: <%= discussion.posts.count%>
  <div>
    <%= link_to "Edit", edit_discussion_path(discussion) %>
    <%= button_to "Delete", discussion_path(discussion), method: :delete, data: { confirm: "Are you sure, This cannot be undone"} %>
  </div>
</div>